@mixin newspaper() {
    padding-top: 60px;
    padding-bottom: 40px;
    padding-right: 2vw;
    padding-left: 2vw;
    width: auto;
    @media (max-width: 1200px) {
        padding-top: 80px;
    }
    @media (max-width: 750px) {
        padding-top: 80px;
    }
    .header{
        font-family: 'Playfair Display', serif;
        font-size: 4vw;
        text-align: center;
        text-transform: uppercase;
        
    }
    .headerwrap{
        font-size: 15px;
        //padding: 20px;
        border: 2px black solid;
    }
    .headermiddle{
        height: 3px;
        font-family: 'Playfair Display', serif;
        text-align: center;
        text-transform: uppercase;
        margin-top: 5px;
        font-size: 25px;
        border-top:2px black solid;
        width: 100%;
        @media (max-width: 700px) {
            font-size: 15px;
        }
    }
    .regularcol{
        &_video{
            grid-column: 4;
            @media (max-width: 1360px) {
                grid-column: 3;
            }
            @media (max-width: 1050px) {
                grid-column: 2;
            }
            @media (max-width: 600px) {
                grid-column: 1;
            }
        }
        //width: 100%;
        margin: 0px 0px 0px 0px;
        padding: 0px 10px 0px 10px;
        border-right: 2px black solid; 
        font-family: 'Playfair Display', sans-serif;
        font-weight: 500;
        @media (max-width: 1050px) {
            border-right: none;
        }
        p{
            font-size: 16px;
            padding: 5px 0px 5px 0px;
        }
        &_type{
            font-style: italic;
            font-family: 'Playfair Display', serif;
            text-align: center;
            font-size: 25px;
            padding: 30px 0px 30px 0px;
            border-top: 2px brown solid;
            border-bottom: 2px brown solid;
        }
        &_header{
            text-transform: uppercase;
            font-style: italic;
            font-family: 'Playfair Display', serif;
            font-size: 22px;
            text-align: center;
            padding: 0px 0px 5px 0px;
           // border-top: 2px brown solid;
            border-bottom: 2px brown solid;
            @media (max-width: 600px) {
                font-size: 17px;
            }
        }
    }
    &_grid_container{
        font-family: 'Droid Serif', sans-serif;
        margin-top: 10px;
        //justify-items: center;
        //align-items: center;
        display: grid;
        grid-auto-rows: auto;
        overflow: auto;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr;
        @media (max-width: 1360px) {
            grid-template-columns: 1fr 1fr 1fr;
        }
        @media (max-width: 1050px) {
            grid-template-columns: 1fr 1fr;
        }
        @media (max-width: 600px) {
            grid-template-columns: 1fr;
        }
    };
    img{
        width: 100%;
        margin-top: 20px;
    }

}
.pressrelation{
@include newspaper();
}

