.presentation{ 
    background-image: url("https://www.transparenttextures.com/patterns/fabric-plaid.png");
    overflow-x: hidden;
    padding-bottom: 20px;
    padding-top: 100px;
    padding-right: 2vw;
    padding-left: 2vw;
    background-color: #f2f2f2;
    display: grid;
    grid-template-columns: 1fr 1fr;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    font-family: 'Playfair Display', sans-serif;
    @media (max-width: 1000px) {
        display: block;
    }
    &_video_container{
        position: relative;
        width: 50vw;
        @media (max-width: 1000px) {
            width: 100%;
        }
    }
    &_videocontenttop{
        position: absolute;
        top: 6vw;
        width: 95%;
        padding-left: 46%;
        color: white;
        font-size: 3vw;
        @media (max-width: 600px) {
            font-size: 21px;
        }
        &_subheader{
            font-size: 20px;
            @media (max-width: 600px) {
                font-size: 17px;
            }
        }
    };
    &_whoiam{
        font-size: 16px; 
        padding: 0px 2vw;
    }
    @media (max-width: 1360px){
        padding-top: 100px;
    }
}

#firstvideo{
    clip-path: polygon(5% 0%, 100% 5%, 95% 100%, 0% 95%);
}