.presentation{
    position: 1000px;
    position: relative;
    font-family: 'Caveat', sans-serif;
    border-bottom: 2px black solid;
    &_video_container{
        position: relative;
    }
    &_videocontenttop{
        position: absolute;
        padding: 10px 5vw;
        width: 100%;
        bottom: 20vw;
        padding-left: 50%;
        color: white;
        font-size: 5vw;
        @media (max-width: 700px) {
            bottom: 13vw;
        }
        &_subheader{
            font-size: 3vw;
            @media (max-width: 800px) {
                font-size: 1.2rem;
            }
        }
    };
    &_whoiam{
        font-size: 2rem; 
        padding: 50px 10vw;
    }
    @media (max-width: 1350px) {
        padding-top: 230px;
    }
    @media (max-width: 750px){
        padding-top: 120px;
    }
    padding: 100px 0px;
}