@import "button.scss";
@import "card.scss";
@import "navitem.scss";
@import '../Component/presentation.scss';
@import '../Component/communication.scss';
@import '../Component/education.scss';
@import '../Component/pressrelation.scss';
@import '../Component/writingorgan.scss';
@import '../Component/professional.scss';
@import '../Component/footer.scss';
@import '../Component/event.scss';


body{
    padding: 0px 2vw;
    background-color: #fffffe;
    box-shadow: inset 1px 1px 10px 5px rgb(197, 213, 248); 
}

.navb{
    top: 0px;
    z-index: 1;
    position: fixed;
    height: 100px;
    align-items: center;
    display: flex;
    width: 96vw;
    .navbmenu{
        margin-top: 30px;
        display: none;
        background-color: white;
        border: 2px solid black;
        width: 100px;
        height: 60px;
    }
    & >*{
        cursor: pointer;
        margin-left: 1vw;
        margin-right: 1vw;
    }
    @media (max-width: 1350px) {
        .navbmenu{
            display: none;
        }
        align-items: end;
        height: 200px;
        display: grid;
        gap: 15px;
        grid-template-columns: repeat(3, 1fr);
        position: fixed;
    }

    @media (max-width: 750px) {
        .navbmenu{
            display: flex;
        }
        height: 100px;
        display: grid;
        gap: 15px;
        grid-template-columns: repeat(2, 1fr);
        position: fixed;
    }
    @media (max-width: 500px) {
        display: grid;
        gap: 10px;
        grid-template-columns: repeat(1, 1fr);
        position: fixed;
    }
    @keyframes movetranslator {
        0%{
            transform: translateY(0%);
        }
        30%{
            transform: translateY(50%);
        }
        60%{
            transform: translateY(-20%);
        }
        100%{
            transform: translateY(0%);
        }
    }

    font-family: "Caveat", sans-serif;
    .translator{
        //cursor: pointer;
        color: #8cb6ec;
        @media (max-width: 1250px) {
            margin-left: 10px;
        }
        &:hover{
            content: 'French';
            color: blue;
            animation: movetranslator 0.5s 1;
        }
    }
    .linkedinicon{
        //cursor: pointer;
        color: #8cb6ec;
        &:hover{
            color: blue;
            animation: movetranslator 0.5s 1;
        }
    }
}



.contact{
    @keyframes moveupsidedown {
        0%, 50%, 100% {
          transform: translateY(0);
        }
        25%{
            transform: translateY(10%); 
        }
        75% {
            transform: translateY(-10%);
        }
      }
    
    padding: 5vw 15vw;
    .icon{
        cursor: pointer;
        font-size: 4rem;
        transition: all;
        transition-timing-function: ease-in-out;
        transition-duration: 0.5s;
        &:hover{
            color: blue;
            animation: moveupsidedown 0.1s infinite;
        }
    }
    a {
        text-decoration: none;
    }
}





