@import "button.scss";
@import "card.scss";
@import "navitem.scss";
@import "transtiongroup.scss";
@import '../Component/presentation.scss';
@import '../Component/communication.scss';
@import '../Component/educationAndExperience.scss';
@import '../Component/pressrelation.scss';
@import '../Component/writingorgan.scss';
@import '../Component/footer.scss';
@import '../Component/event.scss';


body{
    background-color: #fffffe;    
}


.navb{
    user-select: none;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    background-color: #fffffe;
    top: 0px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 3vw;
    padding-left: 1vw;
    z-index: 3;
    position: fixed;
    align-items: center;
    display: flex;
    font-family: 'Playfair Display', sans-serif;
    width: 100vw;
    @media (max-width: 1000px) {
        padding-left: 30px;
        align-items: flex-start;
        padding-top: 5px;
        padding-bottom: 5px;
        height: auto;
        display: flex;
        flex-direction: column;
        position: fixed;
    }
    .outerdropdownwrapper{
        position: relative;
        .dropdownwrapper{
        position: absolute;
        width: max-content;
        background-color: white;
        padding: 10px 10px 0px 10px;
        @media (max-width:1000px) {
            position: relative;
            background-color: transparent;
            padding: 0px;
            width:auto;
        }
        }
     }
    .naviicon{
        color: skyblue;
        border: 2px transparent solid;
        font-weight: 600;
        font-size: 18px;
        text-transform: uppercase;
        &::after {
            content: '';
            display: block;
            width: 0;
            height: 2px;
            background: skyblue;
            transition: all .3s;
        }
        &:hover{
          &::after{
            background-color: blue;
            width: 100%;  
          }
          color: blue;
        }
        
    }
    .navbmenu{
        font-family: 'Playfair Display';
        color: skyblue;
        display: none;
        background-color: #fffffe;
        font-size: 45px;
        @media (max-width: 1000px) {
                display: flex;
        }
    }

    .pressdropdown{
        font-family: 'Playfair Display';
        color: skyblue;
        background-color: white;
        text-align: center;
        font-size: 35px;
        padding-bottom: 8px;
        &:hover{
            color: blue;
        }
        @media (max-width: 1000px) {
            display: none;
        }
    }
    & >*{
        cursor: pointer;
        margin-left: 0.5vw;
        margin-right: 0.5vw;
    }

    @keyframes movetranslator {
        0%{
            transform: translateY(0%);
        }
        30%{
            transform: translateY(20%);
        }
        60%{
            transform: translateY(-10%);
        }
        100%{
            transform: translateY(0%);
        }
    }

    .translator{
        //cursor: pointer;
        font-weight: bold;
        color: #8cb6ec;
        font-size: 26px;
        @media (max-width: 1250px) {
            margin-left: 10px;
        }
        &:hover{
            content: 'French';
            color: blue;
            animation: movetranslator 0.5s 1;
        }
    }
    .linkedinicon{
        //cursor: pointer;
        color: #8cb6ec;
        &:hover{
            color: blue;
            animation: movetranslator 0.5s 1;
        }
    }
}











