.presentation{
    height: 600px;
    position: relative;
    @media (max-width: 1350px) {
        margin-top: 170px;
    }
    @media (max-width: 750px){
        margin-top: 90px;
    }
    padding: 100px 0px;
}