.item{
    &-enter, &-appear {
        opacity: 0;
    }
    &-enter-active, &-appear-active {
        opacity: 1;
        transition: opacity 300ms ease-in;
    }
     &-enter-done {
        opacity: 1;
    }
    &-exit {
        opacity:1;
    }
    &-exit-active {
        opacity: 0;
        transition: opacity 300ms ease-in;
    }
}

.calltransition{
    &-enter, &-appear {
        opacity: 0;
        transform: translateY(-100%);
    }
    &-enter-active, &-appear-active {
        opacity: 1;
        transform: translateY(0%);
        transition: all 300ms ease-in;
    }
    &-exit {
        transform: translateY(0%);
        opacity:1;
    }
    &-exit-active {
        opacity: 0;
        transform: translateY(100%);
        transition: all 300ms ease-in;
    }
}

